:root {
  --hob-grid-card-width: 190px;
  --hob-grid-gap: 24px;
  --hob-focus-scale: 1.065;
}

html:root:has(#Main [role="tab"][id$="AllGames"]):has(#Main [role="tab"][id$="Soundtracks"]) #Main [role="grid"] {
  column-gap: var(--hob-grid-gap) !important;
  row-gap: 24px !important;
}
