:root {
  --hdg-home-time-shift-down: 0px;
  --hdg-home-time-shift-up: 0px;
}

#GamepadUI_Full_Root [role="list"].ReactVirtualized__Grid__innerScrollContainer:has(
    > [role="listitem"][data-id="GoToLibrary"]
  )
  > [role="listitem"][data-id]
  > div
  > div:has(> div > div > [role="link"])
  > div:last-child
  > div
  > div
  > div:nth-child(2) {
  display: none !important;
}
